* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bb0505;
  padding: 20px;
  line-height: 1.6;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  width: 60vw;
  margin: auto;
  border: solid rgb(116, 116, 116);
  padding: 3vw;
  border-radius: 7%;
  background-color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.info label {
  flex: 1;
  margin-right: 10px;
}

.info input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #ddd;
}

.row:nth-child(even) {
  background-color: #f2f2f2;
}

.opcje-dodatkowe {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.opcje-dodatkowe input {
  display: none;
}

.opcje-dodatkowe span {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s;
}

.opcje-dodatkowe span:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c40d0d;
}

opcje-dodatkowe input:checked + span {
  background-color: #c40d0d;
  border-color: #c40d0d;
}

.opcje-dodatkowe input:checked + span:after {
  display: block;
}

.opcje-dodatkowe:hover span {
  background-color: #f1f1f1;
}

.signature-pad-container {
  text-align: center;
  margin-bottom: 20px;
}

.signature-pad {
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: crosshair;
  display: block;
  margin: auto;
}

button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: fit-content;
}

button:hover {
  background-color: #4cae4c;
}

@media (max-width: 768px) {
  .container {
      width: 100vw;
      padding: 5vw;
  }

  .signature-pad {
      width: 100%;
      height: auto;
  }

  button {
      width: 100%;
  }
}

/* Phones in portrait mode */
/* Tablets and larger phones in landscape mode */
@media (max-width: 768px) {
  .container {
      width: 100vw;
      padding: 5vw;
  }

  .info input {
      font-size: 18px;
  }

  .row {
      font-size: 18px;
      height: auto;
      padding: 15px;
  }

  .signature-pad {
      width: 100%;
      height: auto;
  }

  button {
      width: 100%;
      padding: 15px;
      font-size: 18px;
  }

  h2 {
      font-size: 28px;
  }
}

/* Phones in portrait mode */
@media (max-width: 480px) {
  .container {
      width: 100vw;
      height: 200vh;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
  }

  .info,
  .row,
  .signature-pad-container {
      width: 100vw;
      height: 100vh;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .info input {
      width: 100%;
      padding: 20px;
      font-size: 20px;
  }

  .row {
      font-size: 20px;
      justify-content: center;
  }

  .opcje-dodatkowe span {
      height: 40px;
      width: 40px;
  }

  .opcje-dodatkowe span:after {
      width: 20px;
      height: 20px;
  }

  .signature-pad {
      width: 100vw;
      height: 100vh;
      max-height: 70vh;
  }

  button {
      width: 100%;
      padding: 20px;
      font-size: 20px;
  }

  h2 {
      font-size: 24px;
  }
}
